* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    line-height: 1.5rem;
}

input {
    flex: 1;
    height: 2rem;
    padding: 0.3rem 0.7rem;
    color: #000;
    background: #fff;
    border: thin solid #dce5e8;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
}

h3 {
    font-size: 1em;
    font-weight: bold;
}

.content {
    padding: 0.5rem;
}

.headerBar {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: 3rem;
    background-color: #F1A87E;
    color: #fff;
    opacity: 85%;
    margin-bottom: 0.5rem;
}

.modalArea {
    position: relative;
    left: 0;
    right: 0;
    margin: .5em;
    padding: 1.2em;
    border-radius: .3rem;
    z-index: 0;
    background: #FFF9F7;
    border: thin solid #EEE8E6;
}

.bottom {
    bottom: 0;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hidden {
    display: none;
}

.field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.list {
    width: 100%;
    list-style: none;
}

.list.petshop li {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.4rem;
    min-height: 2rem;
    border-radius: .5rem;
}

.list li {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.4rem;
    min-height: 2rem;
}

#blank {
    text-align: center;
    padding-top: 5rem;
    width: 100%;
    opacity: 25%;
}

#blank * {
    text-align: center;
}

.blank-image-pet {
    width: 100%;
    min-width: 35rem;
    height: 19rem;
    display: flex;
    align-items: center;
}


/* Botões */

.button {
    height: 3rem;
    min-width: 3rem;
    padding: 0.25rem 0.75rem;
    background-color: #edf6f9;
    border: thin solid #dce5e8;
    line-height: 1rem;
}

.button.floatingroundedbutton {
    min-height: 4rem;
    min-width: 4rem;
    max-width: 4rem;
    box-shadow: 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%), 0px 3px 5px -1px rgb(0 0 0 / 20%);
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    z-index: 4000;
}

.button:active {
    background: #cbd4d7;
    border: thin solid #bac3c6;
}

.buttonGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.75rem;
}

.buttonGroup.end {
    justify-content: flex-end;
}

.buttonGroup .button {
    flex: 1;
}

.buttonGroup .button.floatingroundedbutton.bottom {
    bottom: 3rem;
    right: 3rem;
    position: absolute;
}

.buttonGroup .button.half {
    flex: 0.5;
}

.buttonGroup .button.third {
    flex: 0.33;
}

.buttonGroup .button.quarter {
    flex: 0.25;
}

.buttonGroup .button:first-child {
    border-radius: 0.5rem 0 0 0.5rem;
}

.buttonGroup .button:last-child {
    border-radius: 0 0.5rem 0.5rem 0;
}

.buttonGroup .button:first-child:last-child {
    border-radius: 0.5rem;
}

.buttonGroup .button.floatingroundedbutton:first-child:last-child {
    border-radius: 5rem;
}

.half {
    flex: 0.5;
}

.third {
    flex: 0.33;
}

.quarter {
    flex: 0.25;
}

.fifty {
    flex: 0.2;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img.center.add {
    height: 2rem;
    width: 2rem;
    opacity: 80%;
}

/* Cores */

.primary {
    color: #fff;
    background: #F1A87E;
    border: thin solid #E0976D;
}

.primary:active {
    background: #CF865C;
    border: thin solid #BE754B;
}

.secondary {
    color: #000;
    background: #F2CBB5;
    border: thin solid #E1BAA4;
}

.secondary:active {
    background: #D0A993;
    border: thin solid #C09882;
}

.light {
    color: #000;
    background: #FFF9F7;
    border: thin solid #EEE8E6;
}

.light:active {
    background: #DDD7D5;
    border: thin solid #CCC6C4;
}

.dark {
    color: #fff;
    background: #3D1E0C;
    border: thin solid #2C0D0B;
}

.dark:active {
    background: #200703;
    border: thin solid #200402;
}

.sucess {
    color: #fff;
    background: #60D394;
    border: thin solid #4FC283;
}

.sucess:active {
    background: #3EB172;
    border: thin solid #2DA061;
}

.warning {
    color: #FFF;
    background: #FADD37;
    border: thin solid #E9CC26;
}

.warning:active {
    background: #D8BB15;
    border: thin solid #C7AA04;
}

.danger {
    color: #fff;
    background: #C5283D;
    border: thin solid #B4172C;
}

.danger:active {
    background: #A3061B;
    border: thin solid #92040A;
}


/* Espaçamentos */

.mt1 {
    margin-top: 1rem;
}

.mt2 {
    margin-top: 2rem;
}

.mt3 {
    margin-top: 3rem;
}

.mt4 {
    margin-top: 4rem;
}